<ion-header>
  <ion-toolbar>
    <ion-title>
      User Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="12">
      <div class="pic">
        <img
          src="https://scontent.fdac151-1.fna.fbcdn.net/v/t1.6435-9/109961584_152519573112743_3906238218018599546_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=174925&_nc_eui2=AeGOG_7BhBC_lzjNgF3a4U_EbRJVQzTGk6RtElVDNMaTpJifVq-uMta-GmQKLFBwlnlAuRYKzm0DKdRNlt-TmGeG&_nc_ohc=xhLb1MS6-BIAX838FUE&_nc_oc=AQm-bSOLOkYUOSrG-w23vknz02mPK-TCEUbCGyzii9tPuUVpILem_Xb5zrB36Ub7zSU&_nc_ht=scontent.fdac151-1.fna&oh=00_AT9vvtIvTEHFgYSw4uAKpqD4w60bPshfOH8jeznzirR4Sg&oe=634C4032"
          alt="">
      </div>
      <h2 style=" margin-top: 50px; margin-bottom: 0px; text-align:center;"> Anamul Hoque Rafi </h2>
      <p style="text-align:center;">anamulrafi.com</p>
      <mat-card>
        <mat-card-title> Profile Info </mat-card-title>
        <div class="info">
          <p>016XXXXXXXX</p>
          <p> Sector: 7 , Road: 5000, House no: 2000, Uttara, Dhaka-1230</p>
          <p>Bangladesh</p>
          <p> Joined on 11Aug, 2022</p>
        </div>
      </mat-card>

    </ion-col>
  </ion-row>
</ion-content>